<script>
    var slots = {{{slotstring}}}

    window.onload = function() {
        checkSoftHSM2();
    }

    function updateProjectList(withanimation, callback) {
        if(withanimation) {
            $('#overlay').fadeIn();
        }
        getAPIRequest('/api/google/projects', function(err, resp) {
            if(err) {
                alert(err);
                callback(err, resp);
            } else {
                if(resp.result == 'success') {
                    let projectSelect = document.querySelector('select[id="projects"]');
                    projectSelect.length = 0;
                    resp.projects.forEach(function(project) {
                        let option = document.createElement('option');
                        option.value = project.projectId;
                        option.text = project.name;
                        projectSelect.appendChild(option);
                    });
                    callback(false, resp);
                } else {
                    alert('Authentication failed: ' + resp.error);
                    callback(resp.error, resp);
                }
            }
            if(withanimation) {
                $('#overlay').fadeOut();
            }
        });
    }

    function updateLocationList(withanimation, callback) {
        if(withanimation) {
            $('#overlay').fadeIn();
        }
        let projectSelect = document.querySelector('select[id="projects"]');
        let selectedProject = projectSelect.value;
        getAPIRequest('/api/google/' + selectedProject + '/locations', function(err, resp) {
            if(err) {
                alert(err);
                callback(err, resp);
            } else {
                if(resp.result == 'success') {
                    let locationSelect = document.querySelector('select[id="locations"]');
                    let currentIndex = locationSelect.selectedIndex;
                    locationSelect.length = 0;
                    resp.locations.forEach(function(location) {
                        let option = document.createElement('option');
                        option.value = location.locationId;
                        option.text = location.locationId;
                        locationSelect.appendChild(option);
                    });
                    if(currentIndex > 0 && currentIndex < locationSelect.length) {
                        locationSelect.selectedIndex = currentIndex;

                    }
                    callback(false, resp);
                } else {
                    alert('Authentication failed: ' + resp.error);
                    callback(err, resp);
                }
            }
            if(withanimation) {
                $('#overlay').fadeOut();
            }
        });
    }

    function updateKeyRingList(withanimation, callback) {
        if(withanimation) {
            $('#overlay').fadeIn();
        }
        let projectSelect = document.querySelector('select[id="projects"]');
        let selectedProject = projectSelect.value;
        let locationSelect = document.querySelector('select[id="locations"]');
        let selectedLocation = locationSelect.value;
        getAPIRequest('/api/google/' + selectedProject + '/' + selectedLocation + '/keyrings', function(err, resp) {
            if(err) {
                alert(err);
                callback(err, resp);
            } else {
                // console.log(resp);
                if(resp.result == 'success') {
                    let keyringSelect = document.querySelector('select[id="keyrings"]');
                    keyringSelect.length = 0;
                    resp.keyrings.forEach(function(keyring) {
                        let option = document.createElement('option');
                        option.value = keyring.name;
                        option.text = keyring.name.split('/').pop();
                        keyringSelect.appendChild(option);
                    });
                    callback(false, resp);
                } else {
                    alert('Authentication failed: ' + resp.error);
                    callback(err, resp);
                }
            }
            if(withanimation) {
                $('#overlay').fadeOut();
            }
        });
    }

    function changeProject() {
        $('#overlay').fadeIn();
        updateLocationList(false, function(err, resp) {
            if(err) {
                $('#overlay').fadeOut();
            } else {
                updateKeyRingList(false, function(err, resp) {
                    if(err) {
                        // $('#overlay').fadeOut();
                    }
                    $('#overlay').fadeOut();
                });
            }
        });
    }

    function testAuth() {
        // alert('Testing Google KMS Authentication - Not yet implemented');
        $('#overlay').fadeIn();
        updateProjectList(false, function(err, resp) {
            if(err) {
                $('#overlay').fadeOut();
            } else {
                updateLocationList(false, function(err, resp) {
                    if(err) {
                        $('#overlay').fadeOut();
                    } else {
                        updateKeyRingList(false, function(err, resp) {
                            if(err) {
                                // $('#overlay').fadeOut();
                            }
                            $('#overlay').fadeOut();
                        });
                    }
                });
            }
        });
    }

</script>
<div style="margin-top: 20px;" class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mx-auto">
            <div class="shadow-lg card" style="width: 100%;">
                <!--<img class="card-img-top" alt="{{this.[token model]}}">-->
                <h3 class="pt-4 text-center card-title">Configure Google KMS</h3>
                <div class="card-body">
                    <form onsubmit="formHandler(); return false;" method="POST">
                        <hr/>
                        <h5>Authenticate</h5>
                        <div class="form-group row mt-4">
                            <div class='form-group col-1'></div>
                                <div style="display:{{#if gcp}}block;{{else}}none;{{/if}}" class='form-group col-10'>
                                    <p>IoT-HSM has detected that it is running on Google Cloud Platform. Please ensure the following prerequisites are met before testing authentication:</p>
                                    <ul>
                                        <li>Enable the "Cloud Resource Manager" API is enabled for the project</li>
                                        <li>Ensure the "Cloud Platform" API access scope is enabled for the virtual machine</li>
                                        <li>Ensure the service account assigned to this virtual machine has the following roles:</li>
                                        <ul>
                                            <li>Cloud KMS Crypto Operator</li>
                                            <li>Cloud KMS CryptoKey Signer/Verifier</li>
                                            <li>Cloud KMS Viewer</li>
                                        </ul>
                                    </ul>
                                </div>
                                <div style="display:{{#if gcp}}none;{{else}}block;{{/if}}" class='form-group col-10 text-center'>
                                    <!-- https://modus.trimble.com/components/web/file-upload-dropzone/ -->
                                    <div style="cursor: pointer; border: 2px dotted #a3a6b1; padding: 20px; border-radius: 5px;" class="my-dropzone">
                                        <div class="dz-default dz-message">
                                            <svg class="opacity-75" width="32" height="32" style="color: #a3a6b1;" fill="currentColor"><use xlink:href="/images/modus-solid-icons.svg#cloud-upload"/></svg>
                                            <p>Drag and drop your JSON key file here, or click to select file to upload.</p>
                                            <small><em>Not necessary when using Google IAM for authentication</em></small>
                                        </div>
                                    </div>
                                </div>
                            <div class='form-group col-1'></div>
                        </div>
                        <div class='form-group row'>
                            <div class="col text-center">
                                <button id="testauth" class="btn btn-primary" onclick="testAuth(); return false;">Test Authentication</button>
                            </div>
                        </div>
                        <hr/>
                        <h5>Select Key Ring</h5>
                        <div class="form-group row mb-2 mt-4">
                            <label class="col-sm-2 col-form-label text-right">Project:</label>
                            <div class="col-sm-4">
                                <select onchange="changeProject();" id="projects" class="form-control">
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label class="col-sm-2 col-form-label text-right">Location:</label>
                            <div class="col-sm-4">
                                <select onchange="updateKeyRingList(true, function() {});" id="locations" class="form-control">
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-4">
                            <label class="col-sm-2 col-form-label text-right">Key Ring:</label>
                            <div class="col-sm-4">
                                <select id="keyrings" class="form-control">
                                </select>
                            </div>
                        </div>

                        <div class='form-group row'>
                            <div class="col text-center">
                                <button id="testauth" class="btn btn-primary" onclick="return false;">Check Permissions and Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<script>
    const dropzone = new Dropzone("div.my-dropzone", { 
        url: "/google-auth-upload",
        addRemoveLinks: false,
        autoProcessQueue: true,
        uploadMultiple: false,
        // parallelUploads: 10,
        dictDefaultMessage: "Choose a file or Drag and Drop",
        dictRemoveFile: "Remove",
        disablePreviews: true,
        paramName: 'file',
        method: 'post',
        acceptedFiles: 'application/json'
        // what to do on success/failure?
    });
    dropzone.on("success", function(file, response) {
        alert('File uploaded successfully. Please test authentication to continue.');
    });
    dropzone.on("error", function(file, response) {
        alert('Error uploading file: ' + response);
    });
</script>