<script>
    var slots = {{{slotstring}}}

    window.onload = function() {
        checkSoftHSM2();
    }

</script>
<div style="margin-top: 20px;" class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mx-auto">
            <div class="shadow-lg card" style="width: 100%;">
                <!--<img class="card-img-top" alt="{{this.[token model]}}">-->
                <h3 class="pt-4 text-center card-title">Configure Google KMS</h3>
                <div class="card-body">
                    <form onsubmit="formHandler(); return false;" method="POST">
                        <div class="form-inline row">
                            <div class='form-group col-sm-4'>
                                Project: &nbsp;<select id='builder-columns' class='form-control'>
                                    <option value='none'>Project</option>
                                </select>
                            </div>
                            <div class='form-group col-sm-4'>
                                Location: &nbsp;<select id='builder-columns' class='form-control'>
                                    <option selected value='none'>Location</option>
                                </select>
                            </div>
                            <div class='form-group col-sm-4'>
                                Key Ring: &nbsp;<select id='builder-columns' class='form-control'>
                                    <option selected value='none'>Location</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>