<script>
    /*window.onload = function() {
        setTimeout(function() {
            location.reload(true);
        }, 2000);
    }*/
    function init() {
        //checkSoftHSM2();
        location.reload(true);
    }

    window.onload = function() {
        checkStatus();
    }
</script>

<!--<div class="container">
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <h1>Initializing HSMs</h1>
        </div>
    </div>
</div>
<style>
    html, body {
    height: 100%;
}

/* CSS only for examples not required for centering */
.container {
    height: 100%;
}

h1 {
    text-align: center;
}

.note {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    padding: 5px;
    background: #eee;
    max-width: 360px;
    border: 1px dotted #bbb;
}
</style>-->