<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/ajax.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
