body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.base64 {
  font-family: monospace;
  white-space: pre-wrap;
}

textarea {
  font-family: monospace !important;
  white-space: pre-wrap;
}

input[type="button"] {
  margin-right: 5px;
}

img.card-img-top {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 5px;
}